@using EntityLayer.Concrete
@model IEnumerable<EntityLayer.Concrete.FoodCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="mb-2 mt-2">
    <div class="float-left">
        <h4>Menü Kategori Listesi</h4>

    </div>
    <div class="float-right">
        <a href="/Menu/Add" class="btn btn-warning btn-sm text-white"><i class="fas fa-plus "></i> Kategori Ekle</a>

    </div>
</div>
<br />
<hr />
<div class="col-12 mt-2">
    <div @*class="card card-primary"*@>
        @*<div class="card-header">
                <h4 class="card-title">Ürün Kategorileri</h4>
            </div>*@
        <div @*class="card-body"*@>
            <div>

                <div class="btn-group w-100 mb-2">
                    <a class="btn btn-info active" href="javascript:void(0)" data-filter="all"> Tüm Kategoriler </a>
                    @foreach (var item in Model)
                    {
                        <a class="btn btn-info" href="javascript:void(0)" data-filter="@item.FoodCategoryId"> @item.Title </a>
                    }
                </div>


                <div class="mb-2">
                    <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle><i class="fas fa-random"></i> Karıştır </a>
                    <div class="float-right">
                        <select hidden class="custom-select" style="width: auto;" data-sortOrder>
                            <option value="index"> Sort by Position </option>
                            <option value="sortData"> Sort by Custom Data </option>
                        </select>
                        <div class="btn-group">
                            <a class="btn btn-default" href="javascript:void(0)" data-sortAsc><i class="fas fa-sort-amount-up"></i> Artan </a>
                            <a class="btn btn-default" href="javascript:void(0)" data-sortDesc><i class="fas fa-sort-amount-down"></i> Azalan </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="filter-container p-0 row ">
                    @foreach (var item in Model)
                    {
                        <div class="filtr-item col-sm-2 " data-category="@item.FoodCategoryId" data-sort="white sample">
                            <a href="@item.ImageUrl" data-toggle="lightbox" data-title="@item.Title">
                                <img src="@item.ImageUrl" class="img-fluid" alt="white sample" />
                            </a>
                            <p>@item.Title </p>
                            <a href="/Menu/Delete/@item.FoodCategoryId" title="Sil" class="btn btn-danger mb-5"><i class="fas fa-trash"></i></a>
                            <a href="/Menu/Edit/@item.FoodCategoryId" title="Düzenle" class="btn btn-primary mb-5"><i class="fas fa-cog"></i></a>
                            @if (item.Status == true)
                            {
                                <a href="/Menu/Status/@item.FoodCategoryId" title="Aktif" class="btn btn-success mb-5"><i class="fas fa-eye"></i></a>
                            }
                            else
                            {
                                <a href="/Menu/Status/@item.FoodCategoryId" title="Pasif" class="btn btn-secondary mb-5"><i class="fas fa-eye-slash"></i></a>

                            }
                            <a href="/Menu/MenuDetail/@item.FoodCategoryId" title="Detay" class="btn btn-warning  text-white mb-5"><i class="fas fa-list"></i></a>
                        </div>
                        <br /><br />
                        <br /><br />
                    }


                </div>
               
            </div>

        </div>
    </div>
</div>
